<div class="flex justify-end mb-6 px-2 mx-20">
  <button mat-raised-button class="mr-auto" color="primary" (click)="addPost()">
    Create new
  </button>
</div>

<div
  class="mx-20 p-2 rounded overflow-hidden shadow-lg"
  *ngIf="users$ | async as users; else loader"
>
  <table mat-table [dataSource]="users" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="img">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-lg font-medium text-gray-900"
      >
        Image
      </th>
      <td mat-cell *matCellDef="let element">
        <img
          class="rounded-full my-2"
          width="50"
          height="50"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqrrxsxZSpsfebkw8VLXe6R5j7mryT6PK7Pg&usqp=CAU"
          alt=""
        />
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-lg font-medium text-gray-900"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-lg font-medium text-gray-900"
      >
        Email
      </th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="city">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-lg font-medium text-gray-900"
      >
        City
      </th>
      <td mat-cell *matCellDef="let element">{{ element.address.city }}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-lg font-medium text-gray-900"
      >
        Phone
      </th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<ng-template #loader>
  <app-loading></app-loading>
</ng-template>
